<form method="POST" action="/update" class="form card">
    <div class="card-body">
        <input type="text" class="form-control" name="code" placeholder="Piso">
        <input type="text" class="form-control" name="qr" placeholder="QR">
        <select name="type" class="form-control">
            <option value="1">Añadir</option>
            <option value="2">Eliminar</option>
        </select>
        <button type="submit" name="cmd" value="setCard">Enviar</button>
    </div>
</form>